# Archivos y carpetas generados por Gradle.

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Archivos generados por Spring Tool Suite.

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Archivos generados por IntelliJ IDEA.

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Archivos generados por NetBeans.

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Archivos y configuración generados por Visual Studio Code.

.vscode/

# Archivos cargados por la aplicación.

uploads/